absl-py==2.0.0
cachetools==5.3.2
Cartopy==0.22.0
certifi==2022.12.7
cftime==1.6.3
charset-normalizer==2.1.1
clarabel==0.7.1
contourpy==1.2.0
cvxpy==1.4.2
cycler==0.12.1
ecos==2.0.13
filelock==3.9.0
fonttools==4.44.3
fsspec==2023.4.0
google-auth==2.23.4
google-auth-oauthlib==1.1.0
grpcio==1.59.3
h5netcdf==1.3.0
h5py==3.10.0
idna==3.4
imageio==2.32.0
importlib-metadata==6.8.0
importlib-resources==6.1.1
Jinja2==3.1.2
joblib==1.3.2
kiwisolver==1.4.5
Markdown==3.5.1
MarkupSafe==2.1.3
matplotlib==3.8.1
mpmath==1.3.0
netCDF4==1.6.5
networkx==3.0
numpy==1.24.1
oauthlib==3.2.2
osqp==0.6.5
packaging==23.2
pandas==2.1.3
parameterized==0.9.0
patsy==0.5.6
Pillow==9.3.0
protobuf==4.23.4
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybind11==2.11.1
pyparsing==3.1.1
pyproj==3.6.1
pyshp==2.3.1
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
qdldl==0.1.7.post0
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn==1.3.2
scipy==1.11.3
scs==3.2.4.post1
shapely==2.0.2
six==1.16.0
statsmodels==0.14.2
sympy==1.12
tensorboard==2.15.1
tensorboard-data-server==0.7.2
threadpoolctl==3.2.0
torch==2.1.1+cu118
torchaudio==2.1.1+cu118
torchvision==0.16.1+cu118
triton==2.1.0
typing_extensions==4.4.0
tzdata==2023.3
uncertainty-calibration==0.1.4
uncertainty-metrics==0.0.5
urllib3==1.26.13
Werkzeug==3.0.1
xarray==2023.10.1
zipp==3.17.0
